.hero {
    height: 90vh;
    position: relative;
    overflow: hidden;
    
}
.hero-img{
    position: absolute;
    top: 0;          /* ✅ FIX */
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-top: 90px;
        
}
.hero-content{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    text-shadow: 1px 1px 2px black;
}
.hero::before{
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.4);
    z-index: 0;        /* ✅ overlay */
}

#Submitt{
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 15px;
    padding-left: 15px;
    border-radius:20px;
    background-color: none;
    font-weight: bold;
    color:blue;

}
svg{
    color: blue;
}
h4{
    margin-right: 20%;
    padding-top: 2%;
    
}
#navmenu2{
       color: #fff ;
}
.navbar{
    width: 100%;
    height: 90px;
    padding: 15px 20px;
    background-color: #fff;
}
nav.navbar a.nav-link:hover {
    background-color: white;
    color: #0d6efd !important;
    border-radius: 6px;
   
}
/* ================= WORK CARD ================= */


.work-card {
    position: relative;    
    border-radius: 18px;   
    overflow: hidden;     
    
}


.work-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;     
    transition: 0.3s ease; 
}

.overlay {
    position: absolute;    
    inset: 0;              
    background: rgba(0,0,0,0.55);    /* makes overlay transparent */ 
    color: #ffffff;

  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    opacity: 0;            
    transition: 0.3s ease;
    text-align: center; 
}


.tag {
    background-color: #0d6efd; 
    padding: 5px 12px;
    border-radius: 20px;
    font-size: 13px;
    margin-bottom: 10px;
}


.work-card:hover .overlay {
    opacity: 1;           
}


.work-card:hover img {
    transform: scale(1.1);
}




/*======================navbar3==================*/
.blue-bar{
    background-color: #0d6efd;
    padding: 40px 0;
    color: white;
}

.blue-content{
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.blue-icon i{
    width: 50px;
    height: 50px;
    background: #ffffff;
    color: #0d6efd;
    border-radius: 12px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 40px;   
}


.blue-text h4{
    margin: 0;
    font-weight: 600;
}

.blue-text p{
    margin: 0;
    font-size: 14px;
    opacity: 0.9;
}


.blue-btn .btn{
    border-radius: 25px;
    font-weight: 500;
}

/*========================== social icons colors=============================== */
.icon1{
    color: white;
    
}
.icon2{
    color: white;
}
.icon3{
    color: white;
}
.icon4{
    color: white;
}
.icon5{
    color: white;
}

